@model AspCore_Scaffolding.Empresas

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Empresas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeEmpresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cnpjEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cnpjEmpresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEmpresa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
